@media screen and (max-width: 600px) {
    .cont li:not(:first-child) {display: none;}
    .cont li.icon {
      float: right;
      display: block;
    }
}

.navbar ul li.hover {
    background-color: #4CAF50;
    color: white;
}
.icon{
    width: 35px;
    height: 2px;
    background-color:crimson;
    margin: 5px;
}
.icon1{
    margin:20px;
}
#id1{
    color:darkblue;
}

.cont{
    display:flex;
    width: 100%;
    height: 100%;
}
.left-col{
    flex-basis: 30%;
    background-color: brown;
    height: 125%;
    position: absolute;
}
.icn{
    margin-left: 30px;
}
.icn i{
    color:darkblue;
}









.right-col{
    flex-basis: 70%;
    height:100%;
}
.yutube{
    margin-left: 100px;
}
#search{
    margin-top:18px;
    cursor: pointer;
}
.input-field:focus{
    border: 2px solid cadetblue;
}
.navbar{
    position: absolute;
    right:40px ;
    top: 10px;
    display:flex;
}
.navbar li{
    list-style: none;
    margin: 0 35px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.row{
    display: flex;
}
.column{
    flex: 33.33%;
    padding:5px;
}
.row{
    margin-left: 100px;
    margin-top: 20px;
}
.title{
    margin-left: 200px;
    margin-top: 45px;
}
h1 , hr{
margin: 0;
padding: 0;
line-height: 0.9;
}
.image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.opaq{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}
.column:hover .image {
    opacity: 0.3;
  }
  
  .column:hover .opaq {
    opacity: 1;
  }